header {
  margin: 40px 0 0 0;
  height: auto; }

main {
  height: auto; }
  main section div div div img {
    border-radius: 15px; }
  main section {
    height: auto;
    padding: 15px 0 0 0; }
    main section div article p {
      text-align: justify;
      margin: 15px; }
  main section div {
    text-align: center;
    margin-top: 20px;
    height: auto; }

footer {
  height: auto;
  margin-top: 40px; }
  footer div {
    height: 80px; }
    footer div div img {
      height: 75px;
      width: 75px;
      padding: 5px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: titule;
  src: url("../assets/Fonts/winterbeauty-Script.otf"); }

body {
  background-color: #7f8c8d;
  height: auto; }

.grad {
  background-image: linear-gradient(to right, #7f8c8d, #cedfed); }

.tit {
  text-shadow: 5px 5px 5px rgba(51, 51, 51, 0.356);
  font-family: titule;
  font-size: 2em;
  color: #da0037; }

.radio {
  border-radius: 15px;
  box-shadow: 10px 10px 10px rgba(51, 51, 51, 0.326); }

.back {
  background-color: #d5d8dc; }

.bot {
  perspective: 2500;
  transition: 1s ease; }

.bot:hover {
  font-size: 1.5em; }

#suti2venta {
  background-color: #d5d8dc;
  margin: 40px 0 40px 0; }

#articMonk {
  margin-top: 40px; }

/* PAGINA HISTORIA */
#mainHistoria p {
  text-align: justify;
  margin: 0px 20px 0 20px; }

#imgHistoria {
  width: 100vw;
  height: 80px;
  margin-top: 40px; }

#tituloHistoria, #prodTit, #servTit {
  margin: 40px 10px 10px 10px;
  padding: 10px;
  font-family: titule;
  font-size: 4em;
  text-align: center; }

#imagen {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0 30px 0; }

#prodTit {
  text-shadow: 5px 5px 5px rgba(51, 51, 51, 0.356); }

#servTit {
  text-shadow: 5px 5px 5px rgba(51, 51, 51, 0.356); }
