main {
    height: auto;

    section {


        div {
            div{
                div {
                    img {
                        border-radius: $bordeRedondo;

                    }
                }
                div {
                    img {

                    }
                }
                div {
                    img{

                    }
                }
            }
            button {
                span {

                }
                span {

                }
            }
            button {
                span {

                }
                span {

                }
            }
        }
    }
    
    section {
        height: auto;
        padding: 15px 0 0 0;

        div {  
            article {
                h2 {

                }
                p {
                    text-align: justify;
                    margin: 15px;
                    
                }
            }
            aside {
                img {

                }
            }
        }
    }
    section {
        div {
            text-align: center;
            margin-top: 20px;
            height: auto;
           
            h2 {

            }
            p {

            }
        }
    }
}
