@import "./variables";
@import "./header";
@import "./main";
@import "./footer";
@import "./historia--main";



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: titule;
    src: url("../assets/Fonts/winterbeauty-Script.otf");
   }

body {
    background-color: whitesmoke;
    height: auto;
   

}

.grad {
    background-image: linear-gradient(to right, red , yellow);
}
.tit { 
    font-family: titule;
    font-size: 2em;
    text-shadow: 5px 5px 5px rgba(51, 51, 51, 0.356);
}

.radio {
    border-radius: $bordeRedondo;
    box-shadow: 10px 10px 10px rgba(51, 51, 51, 0.326);
}

.back {
    background-color: rgba(173, 164, 41, 0.444);
}

.bot {
    perspective: 2500;
    transition: 1s ease;
}

.bot:hover {
    font-size: 1.5em;
}

#suti2venta {
    background-color: bisque;
    margin: 40px 0 40px 0;
    
}
#articMonk {
    margin-top: 40px;
}
