@import "./mixin";
@import "./variables";
@import "./header";
@import "./main";
@import "./footer";



* {
    @include reset;
    box-sizing: border-box;
}

@font-face {
    font-family: titule;
    src: url("../assets/Fonts/winterbeauty-Script.otf");
}

body {
    background-color: map-get($colores, "body");
    height: auto;
}


.grad {
    background-image: linear-gradient(to right, $gradienteS);
}

.tit {
    @include ShadowT font-family: titule;
    font-size: 2em;
    color: map-get($colores, "titulo")
}

.radio {
    border-radius: $bordeRedondo;
    @include ShadowB;
}

.back {
    background-color: map-get($colores, "fondoHeader");

}

.bot {
    perspective: 2500;
    transition: 1s ease;
}

.bot:hover {
    font-size: 1.5em;
}


#suti2venta {
    background-color: map-get($colores, "fondoHeader");
    margin: 40px 0 40px 0;

}

#articMonk {
    margin-top: 40px;
}

/* PAGINA HISTORIA */

#mainHistoria p {
    text-align: justify;
    margin: 0px 20px 0 20px; }
  
#imgHistoria {
    width: 100vw;
    height: 80px;
    margin-top: 40px; }
  
#tituloHistoria {
    margin: 40px 10px 10px 10px;
    padding: 10px;
    font-family: titule;
    font-size: 4em;
    text-align: center;

 }
  
#imagen {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0 30px 0; }


#prodTit {
    @extend #tituloHistoria;
    @include ShadowT
    
}

#servTit {
    @extend #tituloHistoria;
    @include ShadowT
}